    i {
        color: white;
    }
input[type=name], select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.topbtn {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  position: fixed;
  left:0px;
  top:0px;
  height:40px;
  width:100%;
  background:#3b5998;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family:'tahoma', cursive;
}

.topbtn:hover {
  text-decoration: none;
    position: fixed;
}
.footerbtn {

            display: block;
            line-height: 15px;
            position: fixed;
            left:0px;
            bottom:0px;
            height:40px;

border-radius: 15px;
  box-sizing: border-box;
  padding: 5px;
  background:#34af23;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  width:95%;
 margin-left:10px;
            margin-right:30px;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);
            animation: footer infinite linear 1s;
            -webkit-transform: translate3d(30%,0,0);
            transform: translate3d(30%,0,0);
            position: fixed;
			font-family:'tahoma', cursive;

}

.footerbtn :active {
            box-shadow: none
        }

        @-webkit-keyframes footer {
            from {
                -webkit-transform: rotateZ(0)
            }
            25% {
                -webkit-transform: rotateZ(1.5deg)
            }
            50% {
                -webkit-transform: rotateZ(0deg)
            }
            75% {
                -webkit-transform: rotateZ(-1.5deg)
            }
            to {
                -webkit-transform: rotateZ(0)
            }}

@-webkit-keyframes jello {  from, 11.1%, to {    transform: none;  }
  22.2% {    transform: skewX(-12.5deg) skewY(-12.5deg);  }
  33.3% {    transform: skewX(6.25deg) skewY(6.25deg);  }
  44.4% {    transform: skewX(-3.125deg) skewY(-3.125deg);  }
  55.5% {    transform: skewX(1.5625deg) skewY(1.5625deg);  }
  66.6% {    transform: skewX(-0.78125deg) skewY(-0.78125deg);  }
  77.7% {    transform: skewX(0.390625deg) skewY(0.390625deg);  }
  88.8% {    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);  }}
.jello {  -webkit-animation: jello 3s infinite;  transform-origin: center; -webkit-animation-delay:6s}
@-webkit-keyframes hue {
  from {    -webkit-filter: hue-rotate(0deg);  }
  to {    -webkit-filter: hue-rotate(-360deg);  }}
    .m1{position:fixed;left:1%; width:auto;height:100%;top:1%;color:#000;}
    .m2{position:fixed;right:1%; width:auto;height:100%;top:1%;color:#000;}
.bubbles {
font-family: arial;
}

.bubbles hi {
font-family: 'Luckiest Guy', cursive;
color: black;
}

hi {
 font-size:2.5em;
 user-select:none;
}

hi span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

@import url(http://fonts.googleapis.com/css?family=Concert+One);

h1 {
  animation:glow 10s ease-in-out infinite;
}



* { box-sizing:border-box; }

figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}

h1 {
  display:block;
  width:90%;
  line-height:1.5;
  font:900 42px 'Changa', sans-serif;
  position:absolute;
  color:#fff;
}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}

h1:nth-child(2){ transform:translateZ(5px); }
h1:nth-child(3){ transform:translateZ(10px);}
h1:nth-child(4){ transform:translateZ(15px); }
h1:nth-child(5){ transform:translateZ(20px); }
h1:nth-child(6){ transform:translateZ(25px); }
h1:nth-child(7){ transform:translateZ(30p.rock{animation:infinite 1s rock}
@keyframes rock {  0% {    transform: rotate(-1deg);  }
  50% {    transform: rotate(2deg);  }
  100% {    transform: rotate(-1deg);  }}x); }
h1:nth-child(8){ transform:translateZ(35px); }
h1:nth-child(9){ transform:translateZ(40px); }
h1:nth-child(10){ transform:translateZ(45px); }



.rock{animation:infinite 1s rock}
@keyframes rock {  0% {    transform: rotate(-1deg);  }
  50% {    transform: rotate(2deg);  }
  100% {    transform: rotate(-1deg);  }}

.fuck{animation:infinite 1s fuck}
@keyframes rock {  0% {    transform: rotate(-2deg);  }
  50% {    transform: rotate(2deg);  }
  100% {    transform: rotate(-2deg);  }}


h2 {
    font-size: 48px;
    text-align: center;
    padding:1px;
    margin:1px;
    color: rebeccapurple;
    text-shadow: 3px 3px white, -3px -3px white;
    animation: rock infinite 1s;
    font-family: 'Changa', sans-serif;
    letter-spacing: 2px;
}

h3 {
    font-size: 48px;
    text-align: center;
    padding:1px;
    margin:1px;
    color: white;
    text-shadow: 3px 3px rebeccapurple, -3px -3px rebeccapurple;
    aanimation: fuck infinite 1s;
    font-family: 'Lalezar', cursive;
    letter-spacing: 2px;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes swing1
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes swing1
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes swing2
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes swing2
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes swing3
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    65%
    {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    80%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes swing3
{
    15%{-webkit-transform: translateY(5px);transform: translateY(5px);}
    30%{-webkit-transform: translateY(-5px);transform: translateY(-5px);}
    50%{-webkit-transform: translateY(4px);transform: translateY(4px);}
    65%{-webkit-transform: translateY(-4px);transform: translateY(-4px);}
    80%{-webkit-transform: translateY(3px);transform: translateY(3px);}
    100%{-webkit-transform: translateY(0);transform: translateY(0);}
}



.swing
{
        -webkit-animation: swing 5s infinite;  /* Chrome, Safari, Opera */
		animation: swing 5s infinite;
		-webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
		animation-timing-function: cubic-bezier(0,0,0.25,1);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

.swing1
{
	-webkit-animation: swing1 3s infinite;  /* Chrome, Safari, Opera */
		animation: swing1 3s infinite;
		-webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
		animation-timing-function: cubic-bezier(0,0,0.25,1);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

.swing2
{
	-webkit-animation: swing1 6s infinite;  /* Chrome, Safari, Opera */
		animation: swing1 6s infinite;
		-webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
		animation-timing-function: cubic-bezier(0,0,0.25,1);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

.swing3
{
	-webkit-animation: swing1 4s infinite;  /* Chrome, Safari, Opera */
		animation: swing1 4s infinite;
		-webkit-animation-timing-function: cubic-bezier(0,0,0.25,1);
		animation-timing-function: cubic-bezier(0,0,0.25,1);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

/*DANCING ANIMATION*/
@keyframes dance {
  0%{
    -webkit-transform:  rotate(10deg);
    -ms-transform:  rotate(10deg);
    transform:  rotate(10deg);
  }
  16.66%, 49.98%{
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  32.32%{
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  66.64%, 100%{
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  83.8%{
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

-webkit-@keyframes dance {
  0%{
    -webkit-transform:  rotate(10deg);
    -ms-transform:  rotate(10deg);
    transform:  rotate(10deg);
  }
  16.66%, 49.98%{
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  32.32%{
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  66.64%, 100%{
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  83.8%{
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

.name {
	color: #fff;
    	margin: 6px;
    	padding: 25px 20px;
    	font-size: 48px;
    	font-family: sans-serif;
}

.enter-name input[type=name] {
	background-color: rebeccapurple;
	color: #fff;
   	border-radius: 10px;
    	box-sizing: border-box;
    	border: none;
    	padding: 5px;
    	position: fixed;
    	right: 10px;
    	bottom: 0px;
    	height: 50px;
    	width: 70%;
    	text-align: center;
    	font-size: 22px;
    	display: inline-block;
		font-family; 'tahoma', cursive;
}

.enter-name .btn {
	border-radius: 10px;
    	font-size: 21px;
    	padding: 4px;
    	position: fixed;
    	left: 2px;
    	bottom: 3px;
    	height: 50px;
    	width: 23%;
    	display: inline-block;
    	color: #fff;
    	background-color: rebeccapurple;
    	border: none;
    	letter-spacing: .5px;
    	transition: .2s ease-out;
    	cursor: pointer;
    	line-height: 36px;
    	outline: 0;
    	text-transform: uppercase;
    	vertical-align: middle;
    	text-decoration: none;
    	animation-duration: 4s !important;
		font-family; 'tahoma', cursive;
}

.enter-name input[type=name]::-webkit-input-placeholder {
	color: #ddd;
  	font-size: 18px;
}

.enter-name input[type=name]::-moz-placeholder {
	color: #eee;
  	font-size: 18px;
}

.enter-name input[type=name]:focus::-webkit-input-placeholder {
    color: #c0392b;
}

.enter-name input[type=name]:focus::-moz-placeholder {
	color: #c0392b;
  	font-size: 18px;
}

.img-holder img {
    	width: 75%;
}

.wapp-msg a {
	background-color: #398a27;
    	text-decoration: none;
    	color: #fff;
	border-radius: 10px;
    	box-sizing: border-box;
    	border: none;
    	padding: 15px 0;
	position: fixed;
    	left: 10px;
    	bottom: 0px;
    	width: 97%;
    	text-align: center;
    	font-size: 22px;
    	display: inline-block;
    	text-shadow: 1px 1px 0 #444;
}


@media only screen and (max-width: 500px) {
    	.wrapper{
		width:96vw;
	}
}